<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block" style="height: 110px;">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <a href="<?php echo URLROOT;?>Dashboard">
                    <img src="<?php echo URLROOT;?>images/icon/covidlogo.jpg" alt="COVID19" /><span style="width:10px;height:10px;color: aliceblue; font-family:monospace;"> </span>
                </a>
            </div>
            
            <div class="header__navbar">
                    <h1 class="text-light text-center">Uttarakhand COVID-19</h1>
                <ul class="list-unstyled">

                    <li>
                        <a href="<?php echo URLROOT;?>Dashboard">
                            <i class="fas fa-home"></i>
                            <span class="bot-line"></span>Home</a>
                    </li>

                    <li class="has-sub">
                        <a href="<?php echo URLROOT;?>HelpFullInfo">
                            <i class="fas fa-info"></i>Helpful Emergency Links
                            <span class="bot-line"></span>
                        </a>
                    </li>
                    <!---li>
                        <a href="<?php echo URLROOT;?>ReportGathering">
                            <i class="fas fa-edit"></i>
                            <span class="bot-line"></span>Report A Gathering</a>
                    </li--->

                  

                    <li>
                        <a href="<?php echo URLROOT;?>Screening">
                            <i class="fas fa-desktop"></i>
                            <span class="bot-line"></span>COVID-19 Screening</a>
                    </li>
                   
                    <li>
                        <a href="<?php echo URLROOT;?>CovidNearYou/location">
                            <i class="fas fa-search"></i>
                            <span class="bot-line"></span>Status of COVID19 Near You</a>
                    </li>

                    <li class="has-sub">
                        <a href="<?php echo URLROOT;?>Donate">
                            <i class="fas fa-rupee"></i>
                            <span class="bot-line"></span>Donate</a>

                    </li>
                </ul>
            </div>

        </div>
    
    </div>
</header>
<!-- END HEADER DESKTOP-->
